body{
    text-align: center;
}

#box{
    display: block;
    width: 500px;
    margin:150px auto;
    padding: 15px;
    text-align: center;
    border: 7px solid blue;
    background: yellow;
    -webkit-transition:-webkit-transform 5s;
    /*it is used for animating, it takes what property u want to animate
    and for how long*/
}

#box:hover{
    -webkit-transform:rotate(45deg);
}