/*Uses flex box model*/

*{
    margin:0px;
    padding:0px;
}

h1{
    /*font weight, font-size, font-family*/
    font: bold 20px Tahoma;
    color:red;
}

h2{
    font: bold 14px Tahoma;
}

//to make all html5 as block to ensure browser compatibility
header, section,footer,aside, nav, article, hgroup{
    display:block;
}
body{
    width:100%;
    /* means that the div is going to hold flexboxes*/
    display: -webkit-box;
    -webkit-box-pack:center;
    /*used to center the children, here, it has ny one child, so center the entire webpage*/
}

#big_wrapper{
    max-width: 1000px;
    margin: 20px 0px;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-flex:1 ;
    }

#top_header{
    background: yellow;
    border: 3px solid black;
    padding: 20px;
}

#top_menu
{
    border:red;
    background: blue;
    color:white;
}

#top_menu li
{
    //displayy inline-block ensures that the list items are displayed leftt to rightt;
    display:inline-block;
    list-style: none;
    padding:5px;
    font:bold 14px Tahoma;
}

#new_div{
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    /*this make the children of this box be horizontally placed*/
}
#main_section
{
    border: 1px solid blue;
    -webkit-box-flex:1;
    margin:20px;
    margin: 20px;
}

#side_news{
    border: 1px solid red;
    width: 220px;
    margin:20px 0px;//20 on topp and 0 on bottomm
    padding: 30px;
    background:#66CCCC;
}

#footer{
    text-align: center;
    padding: 20px;
    border-top: 2px solid green;
}


