#mommy{
    border:2px solid blue;
    display:-webkit-box;
    -webkit-box-orient:horizontal;
    width: 700px;
    /*-webkit-box-pack:center;*/
    height:300px;
    -webkit-box-align:stretch;
}

#kid1{
    border:2px solid red;
    background: green;
    padding:20px;
    margin:10px;
   /* -webkit-box-ordinal-group:3;*/
   -webkit-box-flex:1;
   }

#kid2{
    border:2px solid red;
    background: yellow;
    padding:20px;
    margin:10px;
    /*-webkit-box-ordinal-group:1;*/
    width: 60px;
    -webkit-box-flex:1;
    /*to make this box flexible*/
    }

#kid3{
    border:2px solid red;
    background: red;
    padding:20px;
    margin:10px;
    /*-webkit-box-ordinal-group:4;*/
    -webkit-box-flex:1;
}

#kid4{
    border:2px solid red;
    background: orange;
    padding:20px;
    margin:10px;
    /*-webkit-box-ordinal-group:2;*/
    -webkit-box-flex:1;
}